section {
    height: 100vh;
}

section:first-of-type {
    padding-top: 50px;
}

#first {
    background-color: black;
}
#second {
    background-color: gray;
}
#third {
    background-color: lightgray;
}