section {
    height: 100vh;
}

#more1 {
    background-color: darkblue;
}
#more2 {
    background-color: blue;
}
#more3 {
    background-color: lightblue;
}
#more4 {
    background-color: lightgreen;
}
#more5 {
    background-color: green;
}