.navPageTabContainer {
    display: flex;
    flex-direction: row;
}


nav {
    position: fixed;
    width: 100vw;
    height: 30px;
    // background-color: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px 20px 30px;
    .anchorContainer {
        width: fit-content;
        overflow: hidden;
    }
    .nav-btn {
        padding-right: 5px;
        text-decoration: none;
        color: greenyellow;
        &.page-btn {
            font-size: 1rem;
        }
        &.anchor-btn {
            font-size: 0.8rem;
            color: white;
            @keyframes slideOut {
                0% {
                    margin-left: -100%;
                }
                100% {
                    margin-left: 0;
                }
            }
            &:first-of-type {
                animation: 0.5s ease-out 0s 1 slideOut;
            }
        }
        &.active {
            font-weight: bold;
        }
    }
}